.central-do-frete-carrier-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    max-height: 24px;
    width: auto;
}

.central-do-frete-carrier-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.central-do-frete-carrier-name {
    font-weight: bold;
}

.central-do-frete-delivery-time {
    margin-left: 10px;
    color: #666;
    font-size: 0.9em;
}